{% extends 'base.html.twig' %}

{% block title %}Catégorie {{category.label}}{% endblock %}

{% block body %}
    <header class="container mt-4">
        <h1>Catégorie {{ category.label }}</h1>
    </header>
    <div class="container mt-4">
        <div class="row">
            {% for book in books %}
                <div class="col-sm-4 mb-3 mb-sm-0">
                    {% include 'components/book.html.twig' with { book, hideCategory: true } only %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
